@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "AkzidenzGrotesk";
  src: url("../fonts/AkzidenzGrotesk-BoldCond.eot");
  src: local("☺"), url("../fonts/AkzidenzGrotesk-BoldCond.woff") format("woff"), url("../fonts/AkzidenzGrotesk-BoldCond.ttf") format("truetype"), url("../fonts/AkzidenzGrotesk-BoldCond.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BEBAS";
  src: url("../fonts/BEBAS.eot");
  src: local("☺"), url("../fonts/BEBAS.woff") format("woff"), url("../fonts/BEBAS.ttf") format("truetype"), url("../fonts/BEBAS.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 880px;
  margin: 0 auto;
  width: 100%;
  /*@media (max-width:$md1+px) {
    max-width: 970px;
  }

  @media (max-width:$md2+px) {
    max-width: 750px;
  }

  @media (max-width:$md3+px) {
    max-width: none;
    padding: 0 10px;
  }*/
}
@media (max-width: 892px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

body {
  font-family: "PT Sans";
}

.btn {
  height: 50px;
  line-height: 50px;
  background: #000;
  display: inline-block;
  padding: 0 33px;
  font-size: 15px;
  font-family: "BEBAS";
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.5px;
}
.btn--w {
  background: #fff;
  color: #000000;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
          appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0 18px;
  height: 50px;
  border: 2px solid #959595;
  background: #252525;
  color: #959595;
  font-size: 15px;
}
.input.err {
  border: 2px solid red;
}

textarea.input {
  resize: none;
  height: 100px;
  padding: 10px 18px;
}

.private {
  display: flex;
  background-color: #000;
  margin: 0 0 75px 0;
}
@media (max-width: 767.98px) {
  .private {
    margin: 0 0 40px 0;
  }
}
.private__column {
  flex: 0 0 50%;
}
@media (max-width: 767.98px) {
  .private__column {
    flex: 1 1 100%;
  }
  .private__column:first-child {
    display: none;
  }
}
.private__image {
  height: 100%;
}
.private__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.private-body-content {
  max-width: 305px;
}

.private-body {
  padding: 75px 20px 75px 60px;
}
@media (max-width: 892px) {
  .private-body {
    padding: 30px 20px 30px 30px;
  }
}
.private-body__title {
  font-family: "AkzidenzGrotesk";
  font-size: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 30px 0;
}
@media (max-width: 892px) {
  .private-body__title {
    font-size: 35px;
    margin: 0 0 20px 0;
  }
}
.private-body__text {
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  margin: 0 0 50px 0;
}
@media (max-width: 892px) {
  .private-body__text {
    margin: 0 0 30px 0;
  }
}

.private-body-buttons {
  display: flex;
  align-items: center;
}
.private-body-buttons__link {
  font-family: "BEBAS";
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  text-decoration: underline;
  margin: 0 0 0 15px;
  letter-spacing: 1.5px;
}

.products {
  display: flex;
  margin: 0 0 40px 0;
}
@media (max-width: 767.98px) {
  .products {
    margin: 0;
  }
}
.products__column {
  flex: 0 0 25%;
  margin: 0 0 40px 0;
}
@media (max-width: 767.98px) {
  .products__column {
    flex: 0 0 50%;
  }
}
@media (max-width: 380px) {
  .products__column {
    flex: 1 1 100%;
  }
}

.products-body {
  display: flex;
  font-size: 0;
}
@media (max-width: 767.98px) {
  .products-body {
    flex-wrap: wrap;
  }
}

.products-item {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.products-item__image {
  flex: 1 1 33.333%;
  display: block;
  height: 100%;
  margin: 0 0 25px 0;
}
@media (max-width: 380px) {
  .products-item__image {
    margin: 0 0 15px 0;
  }
}
.products-item__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.products-item__title {
  height: 50px;
  overflow: hidden;
  padding: 0 10px 0 0;
  max-width: 185px;
  display: block;
  font-family: "AkzidenzGrotesk";
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #000;
  font-size: 25px;
  margin: 0 0 30px 0;
}
@media (max-width: 380px) {
  .products-item__title {
    max-width: none;
    height: auto;
    overflow: visible;
    margin: 0 0 20px 0;
  }
}
.products-item__text {
  flex: 1 1 auto;
  padding: 0 10px 0 0;
  max-width: 185px;
  font-size: 15px;
  line-height: 25px;
  margin: 0 0 25px 0;
}
@media (max-width: 380px) {
  .products-item__text {
    max-width: none;
    margin: 0 0 15px 0;
  }
}
.products-item__btn {
  margin: 0 0 29px 0;
}
.products-item__link {
  font-family: "BEBAS";
  text-transform: uppercase;
  color: #000;
  font-size: 15px;
  letter-spacing: 1.5px;
  text-decoration: underline;
}

.why-top {
  display: flex;
  font-size: 0;
  background: #000;
}
.why-top__column {
  flex: 0 0 50%;
}
@media (max-width: 892px) {
  .why-top__column {
    flex: 1 1 100%;
  }
  .why-top__column:last-child {
    display: none;
  }
}
.why-top__text {
  color: #fff;
  text-align: right;
  font-family: "AkzidenzGrotesk";
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 55px 60px 55px 0;
}
@media (max-width: 892px) {
  .why-top__text {
    padding: 30px 0;
    font-size: 40px;
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .why-top__text {
    padding: 20px 0;
    font-size: 30px;
    text-align: center;
  }
}
.why-top__image {
  height: 100%;
}
.why-top__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.whu-body {
  padding: 50px 0 0 0;
  background: #ebebeb;
}
@media (max-width: 479.98px) {
  .whu-body {
    padding: 30px 0 0 0;
  }
}

.why-body-row {
  display: flex;
  flex-wrap: wrap;
}

.why-body__column {
  flex: 0 0 50%;
  margin: 0 0 50px 0;
}
@media (max-width: 892px) {
  .why-body__column {
    flex: 1 1 100%;
  }
}
@media (max-width: 479.98px) {
  .why-body__column {
    margin: 0 0 30px 0;
  }
}

.why-body-item {
  display: flex;
}
.why-body-item__icon {
  flex: 0 0 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}
@media (max-width: 479.98px) {
  .why-body-item__icon {
    flex: 0 0 80px;
    height: 80px;
    padding: 15px;
  }
  .why-body-item__icon img {
    max-width: 100%;
  }
}

.why-body-item-body {
  flex: 1 1 100%;
  padding: 0 0 0 11px;
  display: flex;
  flex-direction: column;
}
.why-body-item-body__title {
  flex: 1 1 auto;
  font-family: "AkzidenzGrotesk";
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 25px;
}
@media (max-width: 479.98px) {
  .why-body-item-body__title {
    font-size: 20px;
  }
}
.why-body-item-body__text {
  font-size: 15px;
  padding: 0 15px 0 0;
  line-height: 25px;
}

.contacts {
  padding: 80px 0 0 0;
}
@media (max-width: 767.98px) {
  .contacts {
    padding: 30px 0 0 0;
  }
}

.contacts-title {
  font-family: "AkzidenzGrotesk";
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 5px;
  margin: 0 0 30px 0;
}

.contacts-body {
  display: flex;
  flex-wrap: wrap;
}
.contacts-body__column {
  flex: 0 0 50%;
  margin: 0 0 20px 0;
}
@media (max-width: 767.98px) {
  .contacts-body__column {
    flex: 1 1 100%;
  }
}
.contacts-body__item {
  font-size: 15px;
  color: #000;
  display: inline-block;
  line-height: 27px;
  padding: 0 0 0 35px;
}
.contacts-body__item--1 {
  background: url("/img/contacts/vv.svg") left no-repeat;
}
.contacts-body__item--2 {
  background: url("/img/contacts/email.svg") left no-repeat;
}
.contacts-body__item--3 {
  background: url("/img/contacts/telephone.svg") left no-repeat;
}

.contacts-social {
  display: flex;
}
.contacts-social__item {
  margin: 0 30px 0 0;
}
.contacts-social__item:last-child {
  margin: 0;
}

.contacts-content {
  display: flex;
  background: #000;
}
@media (max-width: 767.98px) {
  .contacts-content {
    display: block;
  }
}
.contacts-content__column {
  flex: 0 0 50%;
}
.contacts-content__map {
  height: 100%;
}
@media (max-width: 767.98px) {
  .contacts-content__map {
    height: 300px;
  }
}

.contacts-content-form {
  padding: 55px 60px;
}
@media (max-width: 767.98px) {
  .contacts-content-form {
    padding: 30px;
  }
}
.contacts-content-form__title {
  font-family: "AkzidenzGrotesk";
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  letter-spacing: 5px;
  margin: 0 0 30px 0;
}

.contacts-content-form-body {
  max-width: 375px;
}
@media (max-width: 767.98px) {
  .contacts-content-form-body {
    max-width: none;
  }
}

.contacts-content-form-line {
  margin: 0 0 25px 0;
}

header {
  padding: 29px 0 33px 0;
  background-color: #ffffff;
}
@media (max-width: 767.98px) {
  header {
    padding: 5px 0 5px 0;
  }
}

.header-top {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .header-top {
    justify-content: flex-end;
    padding: 25px 0 0 0;
  }
}
@media (max-width: 479.98px) {
  .header-top {
    padding: 15px 0 0 0;
  }
}
.header-top__link {
  position: relative;
  z-index: 11;
  font-family: "AkzidenzGrotesk";
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 15px;
  color: #000;
}
@media (max-width: 479.98px) {
  .header-top__link {
    font-size: 13px;
  }
}

.header-top-lang {
  display: flex;
}
@media (max-width: 767.98px) {
  .header-top-lang {
    margin: 0 0 15px 0;
  }
}
.header-top-lang__item {
  display: block;
  line-height: 19px;
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "BEBAS";
  letter-spacing: 1px;
  margin: 0 10px 0 0;
  padding: 0 4px;
}
.header-top-lang__item.active {
  background: #000;
  color: #ffffff;
}

.header-bottom {
  margin: -10px 0 0 0;
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .header-bottom {
    margin: -37px 0 0 0;
  }
}
@media (max-width: 479.98px) {
  .header-bottom {
    margin: -27px 0 0 0;
  }
}
.header-bottom__column {
  flex: 0 0 33.333%;
}

.header-bottom-menu--right .header-bottom-menu-list {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
.header-bottom-menu--right .header-bottom-menu-list li {
  margin: 0 0 0 45px !important;
}
.header-bottom-menu--right .header-bottom-menu-list li:first-child {
  margin: 0;
}
@media (max-width: 892px) {
  .header-bottom-menu--right .header-bottom-menu-list li {
    margin: 0 0 0 20px !important;
  }
}
@media (max-width: 767.98px) {
  .header-bottom-menu--right .header-bottom-menu-list {
    display: block;
    text-align: left;
  }
  .header-bottom-menu--right .header-bottom-menu-list li {
    margin: 0 0 15px 0 !important;
  }
  .header-bottom-menu--right .header-bottom-menu-list li:last-child {
    margin: 0;
  }
}
.header-bottom-menu__link {
  font-family: "AkzidenzGrotesk";
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.header-bottom-menu-list {
  display: flex;
}
.header-bottom-menu-list li {
  margin: 0 45px 0 0;
}
.header-bottom-menu-list li:last-child {
  margin: 0;
}
@media (max-width: 892px) {
  .header-bottom-menu-list li {
    margin: 0 20px 0 0;
  }
}
@media (max-width: 767.98px) {
  .header-bottom-menu-list {
    display: block;
  }
  .header-bottom-menu-list li {
    margin: 0 0 15px 0 !important;
  }
  .header-bottom-menu-list li:last-child {
    margin: 0;
  }
}

.header-logo {
  position: relative;
  z-index: 11;
  display: block;
  text-align: center;
}
.header-logo__text {
  display: block;
  font-family: "BEBAS";
  font-size: 10px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 8px;
}
@media (max-width: 767.98px) {
  .header-logo__text {
    font-size: 8px;
  }
}
@media (max-width: 479.98px) {
  .header-logo__text {
    letter-spacing: 5px;
  }
}
.header-logo__image {
  display: inline-block;
  margin: 13px 0 22px 0;
}
@media (max-width: 767.98px) {
  .header-logo__image {
    margin: 2px 0 5px 0;
  }
  .header-logo__image img {
    width: 150px;
  }
}
@media (max-width: 479.98px) {
  .header-logo__image {
    margin: 0 0 2px 0;
  }
  .header-logo__image img {
    width: 100px;
  }
}

.header-menu__icon {
  display: none;
}

@media (max-width: 767.98px) {
  .header-menu__icon {
    display: block;
    position: absolute;
    top: 28px;
    left: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .header-menu__icon span {
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 10px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .header-menu__icon span:first-child {
    top: 0px;
  }
  .header-menu__icon span:last-child {
    top: auto;
    bottom: 0px;
  }
  .header-menu__icon.active span {
    transform: scale(0);
  }
  .header-menu__icon.active span:first-child {
    transform: rotate(-45deg);
    top: 8px;
  }
  .header-menu__icon.active span:last-child {
    transform: rotate(45deg);
    bottom: 8px;
  }

  .header-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: -120%;
    top: 0;
    background: #fff;
    padding: 65px 10px 0px 10px;
    transition: all 0.6s ease 0s;
  }
  .header-menu.activ {
    left: 0;
  }
}
@media (max-width: 479.98px) {
  .header-menu__icon {
    top: 18px;
  }
}
.footer-body {
  display: flex;
  height: 125px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767.98px) {
  .footer-body {
    height: auto;
    padding: 15px 0;
    flex-direction: column;
  }
}
@media (max-width: 767.98px) {
  .footer-body__column:first-child {
    order: 2;
  }
  .footer-body__column:last-child {
    order: 1;
    margin: 0 0 15px 0;
  }
}

.footer__text {
  color: #4d4d4d;
  font-size: 15px;
  line-height: 25px;
}
.footer__text a {
  color: #4d4d4d;
  text-decoration: underline;
}
.footer__text a:hover {
  text-decoration: none;
}
@media (max-width: 767.98px) {
  .footer__text {
    text-align: center;
  }
}