@charset "UTF-8";

@font-face {
  font-family: "SFProDisplay-Bold";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay-Heavy";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Heavy.woff") format("woff"), url("../fonts/SFProDisplay-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay-Medium";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
section,
aside {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

html,
body {
  min-width: 320px;
  position: relative;
  color: #000;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1324px;
  margin: 0 auto;
  width: 100%;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

body {
  font-family: "SFProDisplay-Medium";
  color: #FFFFFF;
}

body {
  background: #011013;
}

.header {
  width: 100%;
  background: url(../../coffeeshop/img/header/cup.png) center/cover no-repeat;
}

.header-body {
  height: 750px;
  padding: 23px 0 0 0;
}

.header-body__top {
  margin: 0 0 71px 0;
}

.header-body__discount {
  text-align: center;
  margin: 0 0 100px 0;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  margin: 0 10px 0 0;
}

.logo__name {
  font-family: "SFProDisplay-Heavy";
  font-size: 29px;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 62px;
     -moz-column-gap: 62px;
          column-gap: 62px;
}

.header-menu__link {
  font-family: "SFProDisplay-Bold";
  font-size: 18px;
  color: #FFFFFF;
}

.header-menu__link:hover {
  color: #E5A042;
}

.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-search__bag {
  margin: 0 0 0 20px;
}

.header-discount {
  font-family: "SFProDisplay-Bold";
}

.header-discount__title {
  font-size: 18px;
  line-height: 17px;
  margin: 0 0 12px 0;
}

.header-discount__body {
  color: #80888A;
  font-size: 12px;
  line-height: 12px;
}

.header-discount__body a {
  color: #80888A;
}

.header-discount__body a:hover {
  border-bottom: 2px solid #80888A;
}

.header-title__title {
  margin: 0 0 40px 0;
  font-family: "SFProDisplay-Bold";
  font-size: 90px;
  line-height: 130px;
}

.header-title__item {
  font-family: "SFProDisplay-Medium";
  font-size: 23px;
  color: #80888A;
  line-height: 30px;
  margin: 0 0 37px 0;
}

.header-title__button {
  width: 155px;
  height: 48px;
  padding: 18px 31px 18px 26px;
  background-color: #E5A042;
  border-radius: 8px;
  font-family: "SFProDisplay-Heavy";
  font-size: 15px;
  color: #FFFFFF;
}

.best {
  padding: 200px 0 157px 0;
}

.best-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}

.best-inner__body {
  padding: 216px 0 0 0;
}

.body-text {
  max-width: 535px;
}

.body-text__item {
  font-family: "SFProDisplay-Bold";
  font-size: 26px;
  color: #80888A;
  margin: 0 0 27px 0;
}

.body-text__title {
  font-family: "SFProDisplay-Bold";
  font-size: 64px;
  margin: 0 0 23px 0;
}

.body-text__text {
  font-family: "SFProDisplay-Medium";
  font-size: 23px;
  line-height: 30px;
  margin: 0 0 36px 0;
}

.body-text__button {
  font-family: "SFProDisplay-Bold";
  font-size: 18px;
  color: #FFFFFF;
}

.body-text__button:hover::after {
  content: '';
  display: block;
  width: 75px;
  height: 5px;
  background-color: #E5A042;
}

.papers {
  padding: 0 0 100px 0;
}

.papers-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.papers-inner__cards {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  margin: 0 0 50px 0;
}

.papers-card {
  background: #191919;
  border-radius: 10px;
  padding: 64px 0 0 0;
  height: 524px;
  position: relative;
}

.papers-card__body {
  padding: 0 0 200px 0;
  position: relative;
  overflow: hidden;
}

.papers-card__image {
  position: absolute;
  top: 70%;
  left: 30%;
}

.papers-card__bg {
  opacity: .05;
  position: absolute;
  top: 35%;
  left: 45%;
}

.papers-text {
  text-align: center;
}

.papers-text__item {
  font-family: "SFProDisplay-Heavy";
  font-size: 13px;
  color: #80888A;
  margin: 0 0 10px 0;
}

.papers-text__title {
  font-family: "SFProDisplay-Heavy";
  font-size: 34px;
  margin: 0 0 27px 0;
}

.papers-text__description {
  font-family: "SFProDisplay-Medium";
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 26px 0;
}

.papers-text__price {
  font-family: "SFProDisplay-Medium";
  font-size: 14px;
}

@media (max-width: 1336px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }

  .container {
    max-width: none;
    padding: 0 10px;
  }
}
@supports (-webkit-appearance:none){
.header{background:url(../../coffeeshop/img/header/cup.webp) center/cover no-repeat}
}

 @media (max-width: 1336px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 992.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}
