.feauture {
  background-image: url(../img/feauture/Layer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0 0 0;
  position: relative;
}

.laptop-image {
  text-align: center;
  margin: 10px 0 0 -50px;

}

.mob-image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 465px;
  left: 855px;
}