.container {}

.footer-body {
  display: flex;
  height: 125px;
  justify-content: space-between;
  align-items: center;

  @media (max-width:$md2+px) {
    height: auto;
    padding: 15px 0;
    flex-direction: column;
  }

  &__column {
    @media (max-width:$md2+px) {
      &:first-child {
        order: 2;
      }

      &:last-child {
        order: 1;
        margin: 0 0 15px 0;
      }
    }
  }
}

.footer {

  &__text {
    color: #4d4d4d;
    font-size: 15px;
    line-height: 25px;

    a {
      color: #4d4d4d;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }

    }

    @media (max-width:$md2+px) {
      text-align: center;
    }
  }
}
