header {
  padding: 29px 0 33px 0;
  background-color: #ffffff;

  @media (max-width:$md2+px) {
    padding: 5px 0 5px 0;
  }
}

.header-top {
  display: flex;
  justify-content: space-between;

  @media (max-width:$md2+px) {
    justify-content: flex-end;
    padding: 25px 0 0 0;
  }

  @media (max-width:$md4+px) {
    padding: 15px 0 0 0;
  }

  &__link {
    position: relative;
    z-index: 11;
    font-family: 'AkzidenzGrotesk';
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 15px;
    color: #000;

    @media (max-width:$md4+px) {
      font-size: 13px;
    }
  }
}

.header-top-lang {
  display: flex;

  @media (max-width:$md2+px) {
    margin: 0 0 15px 0;
  }

  &__item {
    display: block;
    line-height: 19px;
    color: #000000;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'BEBAS';
    letter-spacing: 1px;
    margin: 0 10px 0 0;
    padding: 0 4px;

    &.active {
      background: #000;
      color: #ffffff;
    }
  }
}

.header-bottom {
  margin: -10px 0 0 0;
  display: flex;
  align-items: center;

  @media (max-width:$md2+px) {
    margin: -37px 0 0 0;
  }

  @media (max-width:$md4+px) {
    margin: -27px 0 0 0;
  }

  &__column {
    flex: 0 0 33.333%;
  }
}

.header-bottom-menu {
  &--right {
    .header-bottom-menu-list {
      margin: 0;
      display: flex;
      justify-content: flex-end;
      text-align: right;

      li {
        margin: 0 0 0 45px !important;

        &:first-child {
          margin: 0;
        }

        @media (max-width:$md1+px) {
          margin: 0 0 0 20px !important;
        }
      }

      @media (max-width:$md2+px) {
        display: block;
        text-align: left;

        li {
          margin: 0 0 15px 0 !important;

          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }

  &__link {
    font-family: 'AkzidenzGrotesk';
    color: #000;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

}

.header-bottom-menu-list {
  display: flex;

  li {
    margin: 0 45px 0 0;

    &:last-child {
      margin: 0;
    }

    @media (max-width:$md1+px) {
      margin: 0 20px 0 0;
    }
  }

  @media (max-width:$md2+px) {
    display: block;

    li {
      margin: 0 0 15px 0 !important;

      &:last-child {
        margin: 0;
      }
    }
  }
}

.header-logo {
  position: relative;
  z-index: 11;
  display: block;
  text-align: center;

  &__text {
    display: block;
    font-family: 'BEBAS';
    font-size: 10px;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 8px;

    @media (max-width:$md2+px) {
      font-size: 8px;
    }

    @media (max-width:$md4+px) {
      letter-spacing: 5px;
    }
  }

  &__image {
    display: inline-block;
    margin: 13px 0 22px 0;

    @media (max-width:$md2+px) {
      margin: 2px 0 5px 0;

      img {
        width: 150px;
      }
    }

    @media (max-width:$md4+px) {
      margin: 0 0 2px 0;

      img {
        width: 100px;
      }
    }
  }
}


//Меню бургер ====================================================
.header-menu__icon {
  display: none;
}

@media (max-width:$md2+px) {
  .header-menu__icon {
    display: block;
    position: absolute;
    top: 28px;
    left: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;

    span {
      @include anim(0.3s, 0s);
      top: 8px;
      left: 10px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;

      &:first-child {
        top: 0px;
      }

      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }

    &.active {
      span {
        @include scale(0);

        &:first-child {
          @include rotate(-45deg);
          top: 8px;
        }

        &:last-child {
          @include rotate(45deg);
          bottom: 8px;
        }
      }
    }
  }

  .header-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: -120%;
    top: 0;
    background: #fff;
    padding: 65px 10px 0px 10px;
    @include anim(0.6s, 0s);

    &.activ {
      left: 0;
    }
  }
}

@media (max-width:$md4+px) {
  .header-menu__icon {
    top: 18px;
  }
}
